dist/
build/
/SickRock
service/tmp
service/SickRock
service/sickrock
service/sickrock-mcp
proto/tmp
**/.swp
**/.swo
frontend/node_modules
integration-tests/node_modules
integration-tests/.runtime
integration-tests/screenshots
tmp/
**/*.log
.vscode
